#
# Copyright (c) 2020-2022, Arm Limited and Contributors. All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
#

# Python dependencies for building the documentation.

Jinja2==2.11.3
MarkupSafe==2.0.1
setuptools==75.2.0
Sphinx==5.1.1
sphinx-rtd-theme==2.0.0
sphinxcontrib-moderncmakedomain==3.29.0
sphinxcontrib-plantuml==0.30
